{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bangazon</title>
</head>

<body>
  <h1>Welcome to Bangazon!</h1>
  {% block main %} {% include "navbar.html" with nav_location=view.location %} {% endblock main %}
  {% if user.is_authenticated %}
  <h1>Hello, {{ user.username }}!</h1>
  {% comment %} {% else %}
  <div><a href="{% url 'website:register' %}">Register</a></div>
  <div><a href="{% url 'website:login' %}">Login</a></div> {% endcomment %}
  {% endif %}
</body>

</html>