{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'website/navbar.css' %}">

<nav class="navbar">
    <a href="{% url 'website:index' %}">Home</a>

    <input type="search" placeholder="Search For Goodies">

    <a href="{% url 'website:list_categories' %}">Categories</a>
    <a href="{% url 'website:list_products' %}">All Products</a>
    <a href="{% url 'website:sell' %}">Sell A Product</a>

    {% if user.is_authenticated %}
    <div class="dropdown_nav">
        <a href="#">My Account</a>
        <div class="dropdown_content">
            <a href="#">My Products</a>
            <a href="#">Order History</a>
            <a href="#">Payment</a>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'website:logout' %}">Logout</a>
    {% comment %} <a href="#">My Account</a> {% endcomment %}
    {% else %}
    <a href="{% url 'website:login' %}">Login</a>
    <a href="{% url 'website:register' %}">Register</a>
    {% endif %}
</nav>