<!DOCTYPE html>
<html>
<head>
    <title>Order Items</title>
</head>
<body>
    {% if userorderid != "error" %}
    {% for item in items %}
        <div class='items'> {{ item.title }} </div>
        <form action="{% url 'website:delete_order_item' item_id=item.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete Item</button>
              </form> 
    {% endfor %}
    <p>Order Total: {{total}}</p>
    <form action="{% url 'website:delete_order' pk=userorderid.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete Order</button>
    </form>

    
    {% else %}
    <div>No Active Order</div>
    {% endif %}

    
</body>
</html>